*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background: url(assets/bg.jpg) no-repeat;
}

#gameName {
    border: none;
    color: rgb(244, 238, 244);
    font-weight: bold;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s all linear;
}

#logotipo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 1000px; /* Ajuste o tamanho conforme necessário */
    height: 100px;
    background: url('assets/ioiologo.png') no-repeat;
    background-size: contain;
    padding: 10px;
}

.imagem-container {
    text-align: center;
    margin-top: 50px; /* Ajuste a margem conforme necessário */
}

.imagem-container a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #333;
}

.imagem-container img {
    width: 200px; /* Ajuste o tamanho conforme necessário */
    height: 200px;
}